{% comment %}
  <div class="nav-menu-dropdown page-width">
    <div class="menu-dropdown-content">
      <div class="main-menu-block">
        <ul class="first-level-menu first-level-desktop">
          <li data-tabid="{{ link.title | handleize }}"><a href="#">Shop By Brand</a></li>
          <li data-tabid="{{ link.title | handleize }}"><a href="#">Shop By Product</a></li>
        </ul>

        <div class="first-level-menu_items logo-item">
          <div class="first-level-shop_list">
            <h3>Shop By Brand</h3>
            <ul class="second-level-menu-list">
              <li>
                <a href="#"
                  ><img src="{{ section.settings.logo_image | image_url }}" width="100" height="38" alt="" loading="lazy"
                ></a>
              </li>
              <li>
                <a href="#"
                  ><img src="{{ section.settings.logo_image | image_url }}" width="100" height="38" alt="" loading="lazy"
                ></a>
              </li>
              <li>
                <a href="#"
                  ><img src="{{ section.settings.logo_image | image_url }}" width="100" height="38" alt="" loading="lazy"
                ></a>
              </li>
              <li>
                <a href="#"
                  ><img src="{{ section.settings.logo_image | image_url }}" width="100" height="38" alt="" loading="lazy"
                ></a>
              </li>
              <li>
                <a href="#"
                  ><img src="{{ section.settings.logo_image | image_url }}" width="100" height="38" alt="" loading="lazy"
                ></a>
              </li>
              <li>
                <a href="#"
                  ><img src="{{ section.settings.logo_image | image_url }}" width="100" height="38" alt="" loading="lazy"
                ></a>
              </li>
              <li>
                <a href="#"
                  ><img src="{{ section.settings.logo_image | image_url }}" width="100" height="38" alt="" loading="lazy"
                ></a>
              </li>
              <li>
                <a href="#"
                  ><img src="{{ section.settings.logo_image | image_url }}" width="100" height="38" alt="" loading="lazy"
                ></a>
              </li>
            </ul>
          </div>
          <div class="row">
            <div class="product-main_box">
              <div class="product-block">
                <img src="{{ section.settings.product_image2 | image_url }}" width="206" height="206" loading="lazy">
              </div>
              <div class="product_content">
                <a href="#">
                  <h3>Suzuki Wedged Baseball T-Shirt</h3>
                </a>
                <div class="add_to_card">
                  {%- render 'buy-buttons',
                    block: block,
                    product: product,
                    product_form_id: product_form_id,
                    section_id: section.id
                  -%}
                </div>
              </div>
              <a href="#"></a>
            </div>
            <div class="product-main_box">
              <div class="product-block">
                <img src="{{ section.settings.product_image | image_url }}" width="206" height="206" loading="lazy">
              </div>
              <div class="product_content">
                <a href="#">
                  <h3>Suzuki Wedged Baseball T-Shirt</h3>
                </a>
                <div class="add_to_card">
                  {%- render 'buy-buttons',
                    block: block,
                    product: product,
                    product_form_id: product_form_id,
                    section_id: section.id
                  -%}
                </div>
              </div>
              <a href="#"></a>
            </div>
            <div class="product-main_box">
              <div class="product-block">
                <img src="{{ section.settings.product_image3 | image_url }}" width="206" height="206" loading="lazy">
              </div>
              <div class="product_content">
                <a href="#">
                  <h3>Suzuki Wedged Baseball T-Shirt</h3>
                </a>
                <div class="add_to_card">
                  {%- render 'buy-buttons',
                    block: block,
                    product: product,
                    product_form_id: product_form_id,
                    section_id: section.id
                  -%}
                </div>
              </div>
              <a href="#"></a>
            </div>
          </div>
          <div class="row">
            <div class="product-main_box">
              <div class="product-block">
                <img src="{{ section.settings.product_image3 | image_url }}" width="206" height="206" loading="lazy">
              </div>
              <div class="product_content">
                <a href="#">
                  <h3>Suzuki Wedged Baseball T-Shirt</h3>
                </a>
                <div class="add_to_card">
                  {%- render 'buy-buttons',
                    block: block,
                    product: product,
                    product_form_id: product_form_id,
                    section_id: section.id
                  -%}
                </div>
              </div>
              <a href="#"></a>
            </div>
            <div class="product-main_box">
              <div class="product-block">
                <img src="{{ section.settings.product_image2 | image_url }}" width="206" height="206" loading="lazy">
              </div>
              <div class="product_content">
                <a href="#">
                  <h3>Suzuki Wedged Baseball T-Shirt</h3>
                </a>
                <div class="add_to_card">
                  {%- render 'buy-buttons',
                    block: block,
                    product: product,
                    product_form_id: product_form_id,
                    section_id: section.id
                  -%}
                </div>
              </div>
              <a href="#"></a>
            </div>
            <div class="product-main_box">
              <div class="product-block">
                <img src="{{ section.settings.product_image | image_url }}" width="206" height="206" loading="lazy">
              </div>
              <div class="product_content">
                <a href="#">
                  <h3>Suzuki Wedged Baseball T-Shirt</h3>
                </a>
                <div class="add_to_card">
                  {%- render 'buy-buttons',
                    block: block,
                    product: product,
                    product_form_id: product_form_id,
                    section_id: section.id
                  -%}
                </div>
              </div>
              <a href="#"></a>
            </div>
          </div>
          <div class="row">
            <div class="product-main_box">
              <div class="product-block">
                <img src="{{ section.settings.product_image | image_url }}" width="206" height="206" loading="lazy">
              </div>
              <div class="product_content">
                <a href="#">
                  <h3>Suzuki Wedged Baseball T-Shirt</h3>
                </a>
                <div class="add_to_card">
                  {%- render 'buy-buttons',
                    block: block,
                    product: product,
                    product_form_id: product_form_id,
                    section_id: section.id
                  -%}
                </div>
              </div>
              <a href="#"></a>
            </div>
            <div class="product-main_box">
              <div class="product-block">
                <img src="{{ section.settings.product_image2 | image_url }}" width="206" height="206" loading="lazy">
              </div>
              <div class="product_content">
                <a href="#">
                  <h3>Suzuki Wedged Baseball T-Shirt</h3>
                </a>
                <div class="add_to_card">
                  {%- render 'buy-buttons',
                    block: block,
                    product: product,
                    product_form_id: product_form_id,
                    section_id: section.id
                  -%}
                </div>
              </div>
              <a href="#"></a>
            </div>
            <div class="product-main_box">
              <div class="product-block">
                <img src="{{ section.settings.product_image3 | image_url }}" width="206" height="206" loading="lazy">
              </div>
              <div class="product_content">
                <a href="#">
                  <h3>Suzuki Wedged Baseball T-Shirt</h3>
                </a>
                <div class="add_to_card">
                  {%- render 'buy-buttons',
                    block: block,
                    product: product,
                    product_form_id: product_form_id,
                    section_id: section.id
                  -%}
                </div>
              </div>
              <a href="#"></a>
            </div>
          </div>
        </div>
        {% comment %}
          <div class="first-level-menu_items logo-item">
            <div class="first-level-shop_list">
              <h3>Shop By Color</h3>
              <ul class="second-level-menu-list">
                <li>
                  <a href="#"
                    ><img src="{{ section.settings.logo_image | image_url }}" width="100" height="38" alt="" loading="lazy"
                  ></a>
                </li>
                <li>
                  <a href="#"
                    ><img src="{{ section.settings.logo_image | image_url }}" width="100" height="38" alt="" loading="lazy"
                  ></a>
                </li>
                <li>
                  <a href="#"
                    ><img src="{{ section.settings.logo_image | image_url }}" width="100" height="38" alt="" loading="lazy"
                  ></a>
                </li>
                <li>
                  <a href="#"
                    ><img src="{{ section.settings.logo_image | image_url }}" width="100" height="38" alt="" loading="lazy"
                  ></a>
                </li>
                <li>
                  <a href="#"
                    ><img src="{{ section.settings.logo_image | image_url }}" width="100" height="38" alt="" loading="lazy"
                  ></a>
                </li>
                <li>
                  <a href="#"
                    ><img src="{{ section.settings.logo_image | image_url }}" width="100" height="38" alt="" loading="lazy"
                  ></a>
                </li>
                <li>
                  <a href="#"
                    ><img src="{{ section.settings.logo_image | image_url }}" width="100" height="38" alt="" loading="lazy"
                  ></a>
                </li>
                <li>
                  <a href="#"
                    ><img src="{{ section.settings.logo_image | image_url }}" width="100" height="38" alt="" loading="lazy"
                  ></a>
                </li>
              </ul>
            </div>
            {% comment %}
              <div class="first-level-shop_image-block">
                <span class="image_level">
                  <img src="{{ section.settings.image_block | image_url }}" width="282" height="266" alt="" loading="lazy">
                </span>
              </div>
            {% endcomment %}
            <div class="first-level-card">
              <div class="main-card_item">
                <span class="image-span">
                  <img
                    src="{{ section.settings.featured_image | image_url }}"
                    width="432"
                    height="266"
                    alt=""
                    loading="lazy"
                  >
                </span>
                <div class="main-card_item_text">
                  <span>New Arrivals</span>
                  <h2>New Nail Lacquers Collection</h2>
                  <a href="#">Shop Now</a>
                </div>
              </div>
            </div>
          </div>
        {% endcomment %}
        <div class="first-level-menu_items">
          <div class="first-level-shop_list">
            <h3>Shop By Color</h3>
            <ul class="second-level-menu-list">
              <li><a href="#">Black</a></li>
              <li><a href="#">White</a></li>
              <li><a href="#">Blue</a></li>
              <li><a href="#">Green</a></li>
              <li><a href="#">Red</a></li>
              <li><a href="#">Black</a></li>
              <li><a href="#">White</a></li>
              <li><a href="#">Blue</a></li>
              <li><a href="#">Green</a></li>
              <li><a href="#">Red</a></li>
            </ul>
          </div>
          <div class="first-level-shop_image-block">
            <span class="image_level">
              <img src="{{ section.settings.featured_image | image_url }}" width="282" height="266" alt="" loading="lazy">
            </span>
          </div>
          <div class="first-level-card">
            <div class="main-card_item">
              <span class="image-span">
                <img
                  src="{{ section.settings.featured_image | image_url }}"
                  width="432"
                  height="266"
                  alt=""
                  loading="lazy"
                >
              </span>
              <div class="main-card_item_text">
                <span>New Arrivals</span>
                <h2>New Nail Lacquers Collection</h2>
                <a href="#">Shop Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endcomment %}
{%- if block.type == 'main' -%}
  <div class="nav-menu-dropdown page-width">
    <div class="menu-dropdown-content">
      <div class="main-menu-block">
        {%- for block in section.blocks -%}
          {%- assign menu = linklists[block.settings.navigation_title | handleize] -%}

          {% if menu.links.size > 0 %}
            <ul class="first-level-menu first-level-desktop">
              {% for link in menu.links %}
                {% assign has_sub_children = false %}

                {%- for inner_block in section.blocks -%}
                  {% if inner_block.settings.inner_navigation_title == link.title and (inner_block.type == 'inner-megamenu' or inner_block.type == 'shop-megamenu') %}
                    {% assign has_sub_children = true %}
                  {% endif %}
                {%- endfor -%}

                <li
                  class="{% if forloop.index == 1 %}active{% endif %} {% if has_sub_children %}has-sub-children{% endif %}"
                  data-tabid="{{ link.title | handleize }}"
                >
                  <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}

          {%- comment -%} SECOND LEVEL MENU WRAPPERS {%- endcomment -%}
          {% for link in menu.links %}
            <div
              class="menu-wrapper {{ link.title | handleize }} {% if forloop.index == 1 %}show-menu{% endif %}"
              data-tabid="{{ link.title | handleize }}"
            >
              {%- for inner_block in section.blocks -%}
                {% if inner_block.settings.inner_navigation_title == link.title %}
                  {%- if inner_block.type == 'inner-megamenu' -%}
                    <div class="first-level-menu_items logo-item">
                      <div class="first-level-shop_list">
                        <h3>{{ inner_block.settings.color_menu_title }}</h3>
                        {% if inner_block.settings.secondary_menu != blank %}
                          <ul class="second-level-menu-list">
                            {% assign secondary_menu = linklists[inner_block.settings.secondary_menu] %}
                            {% for sublink in secondary_menu.links %}
                              <li>
                                <a href="{{ sublink.url }}">
                                  {{ sublink.title }}
                                </a>
                              </li>
                            {% endfor %}
                          </ul>
                        {% endif %}
                      </div>

                      {% if inner_block.settings.image_block_image != blank %}
                        <div class="first-level-shop_image-block">
                          <span class="image_level">
                            <img
                              src="{{ inner_block.settings.image_block_image | image_url: width: 282 }}"
                              alt=""
                              loading="lazy"
                            >
                          </span>
                        </div>
                      {% endif %}

                      <div class="first-level-card">
                        <div class="main-card_item">
                          {% if inner_block.settings.featured_image != blank %}
                            <span class="image-span">
                              <img
                                src="{{ inner_block.settings.featured_image | image_url: width: 432 }}"
                                alt=""
                                loading="lazy"
                              >
                            </span>
                          {% endif %}
                          <div class="main-card_item_text">
                            <span>{{ inner_block.settings.featured_top_text }}</span>
                            <h2>{{ inner_block.settings.featured_title }}</h2>
                            <a href="{{ inner_block.settings.featured_cta_link | default: '#' }}">
                              {{ inner_block.settings.featured_cta_text }}
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>

                  {%- elsif inner_block.type == 'shop-megamenu' -%}
                    <div class="first-level-menu_items">
                      {% if inner_block.settings.menu_type == 'color-menu-with-image-block' %}
                        <div class="first-level-shop_list">
                          <h3>{{ inner_block.settings.color_menu_title }}</h3>
                          {% if inner_block.settings.secondary_menu != blank %}
                            {% assign secondary_menu = linklists[inner_block.settings.secondary_menu] %}
                            <ul class="second-level-menu-list">
                              {% for sublink in secondary_menu.links %}
                                <li>
                                  <a href="{{ sublink.url }}">{{ sublink.title }}</a>
                                </li>
                              {% endfor %}
                            </ul>
                          {% endif %}
                        </div>

                      {% elsif inner_block.settings.menu_type == 'collection-menu-with-image-block' %}
                        <div class="megamenu-collection-wrapper">
                          {% if inner_block.settings.secondary_menu != blank %}
                            {% assign collection_menu = linklists[inner_block.settings.secondary_menu] %}
                            {% for collection_link in collection_menu.links %}
                              {% assign collection = collection_link.object %}
                              <div class="collection-list">
                                <a href="{{ collection.url }}">
                                  <span>
                                    {% if collection.image %}
                                      <img
                                        src="{{ collection.image | image_url: width: 180 }}"
                                        alt="{{ collection.title }}"
                                        loading="lazy"
                                      >
                                    {% endif %}
                                  </span>
                                  <p>{{ collection.title }}</p>
                                </a>
                              </div>
                            {% endfor %}
                          {% endif %}
                        </div>

                      {% elsif inner_block.settings.menu_type == 'product-menu' %}
                        <div class="brand-product-wrapper only-product-list">
                          <div class="megamenu-product-list">
                            {% if inner_block.settings.secondary_menu != blank %}
                              {% assign product_menu = linklists[inner_block.settings.secondary_menu] %}
                              {% for product_link in product_menu.links %}
                                {% assign product = product_link.object %}
                                {% if product %}
                                  <div class="product-card">
                                    {% render 'card-product',
                                      card_product: product,
                                      shopnow_button: 'button',
                                      section_id: section.id
                                    %}
                                  </div>
                                {% endif %}
                              {% endfor %}
                            {% endif %}
                          </div>
                        </div>
                      {% endif %}
                    </div>
                  {%- endif -%}
                {% endif %}
              {%- endfor -%}
            </div>
          {% endfor %}
        {%- endfor -%}
      </div>
    </div>
  </div>
{%- endif -%}
