{% comment %}
  <div class="nav-menu-dropdown page-width">
    <div class="menu-dropdown-content">
      <div class="main-menu-block">
        <ul class="first-level-menu first-level-desktop">
          <li data-tabid="{{ link.title | handleize }}"><a href="#">Shop By Brand</a></li>
          <li data-tabid="{{ link.title | handleize }}"><a href="#">Shop By Product</a></li>
        </ul>

        <div class="first-level-menu_items logo-item">
          <div class="first-level-shop_list">
            <h3>Shop By Brand</h3>
            <ul class="second-level-menu-list">
              <li>
                <a href="#"
                  ><img src="{{ section.settings.logo_image | image_url }}" width="100" height="38" alt="" loading="lazy"
                ></a>
              </li>
              <li>
                <a href="#"
                  ><img src="{{ section.settings.logo_image | image_url }}" width="100" height="38" alt="" loading="lazy"
                ></a>
              </li>
              <li>
                <a href="#"
                  ><img src="{{ section.settings.logo_image | image_url }}" width="100" height="38" alt="" loading="lazy"
                ></a>
              </li>
              <li>
                <a href="#"
                  ><img src="{{ section.settings.logo_image | image_url }}" width="100" height="38" alt="" loading="lazy"
                ></a>
              </li>
              <li>
                <a href="#"
                  ><img src="{{ section.settings.logo_image | image_url }}" width="100" height="38" alt="" loading="lazy"
                ></a>
              </li>
              <li>
                <a href="#"
                  ><img src="{{ section.settings.logo_image | image_url }}" width="100" height="38" alt="" loading="lazy"
                ></a>
              </li>
              <li>
                <a href="#"
                  ><img src="{{ section.settings.logo_image | image_url }}" width="100" height="38" alt="" loading="lazy"
                ></a>
              </li>
              <li>
                <a href="#"
                  ><img src="{{ section.settings.logo_image | image_url }}" width="100" height="38" alt="" loading="lazy"
                ></a>
              </li>
            </ul>
          </div>
          <div class="row">
            <div class="product-main_box">
              <div class="product-block">
                <img src="{{ section.settings.product_image2 | image_url }}" width="206" height="206" loading="lazy">
              </div>
              <div class="product_content">
                <a href="#">
                  <h3>Suzuki Wedged Baseball T-Shirt</h3>
                </a>
                <div class="add_to_card">
                  {%- render 'buy-buttons',
                    block: block,
                    product: product,
                    product_form_id: product_form_id,
                    section_id: section.id
                  -%}
                </div>
              </div>
              <a href="#"></a>
            </div>
            <div class="product-main_box">
              <div class="product-block">
                <img src="{{ section.settings.product_image | image_url }}" width="206" height="206" loading="lazy">
              </div>
              <div class="product_content">
                <a href="#">
                  <h3>Suzuki Wedged Baseball T-Shirt</h3>
                </a>
                <div class="add_to_card">
                  {%- render 'buy-buttons',
                    block: block,
                    product: product,
                    product_form_id: product_form_id,
                    section_id: section.id
                  -%}
                </div>
              </div>
              <a href="#"></a>
            </div>
            <div class="product-main_box">
              <div class="product-block">
                <img src="{{ section.settings.product_image3 | image_url }}" width="206" height="206" loading="lazy">
              </div>
              <div class="product_content">
                <a href="#">
                  <h3>Suzuki Wedged Baseball T-Shirt</h3>
                </a>
                <div class="add_to_card">
                  {%- render 'buy-buttons',
                    block: block,
                    product: product,
                    product_form_id: product_form_id,
                    section_id: section.id
                  -%}
                </div>
              </div>
              <a href="#"></a>
            </div>
          </div>
          <div class="row">
            <div class="product-main_box">
              <div class="product-block">
                <img src="{{ section.settings.product_image3 | image_url }}" width="206" height="206" loading="lazy">
              </div>
              <div class="product_content">
                <a href="#">
                  <h3>Suzuki Wedged Baseball T-Shirt</h3>
                </a>
                <div class="add_to_card">
                  {%- render 'buy-buttons',
                    block: block,
                    product: product,
                    product_form_id: product_form_id,
                    section_id: section.id
                  -%}
                </div>
              </div>
              <a href="#"></a>
            </div>
            <div class="product-main_box">
              <div class="product-block">
                <img src="{{ section.settings.product_image2 | image_url }}" width="206" height="206" loading="lazy">
              </div>
              <div class="product_content">
                <a href="#">
                  <h3>Suzuki Wedged Baseball T-Shirt</h3>
                </a>
                <div class="add_to_card">
                  {%- render 'buy-buttons',
                    block: block,
                    product: product,
                    product_form_id: product_form_id,
                    section_id: section.id
                  -%}
                </div>
              </div>
              <a href="#"></a>
            </div>
            <div class="product-main_box">
              <div class="product-block">
                <img src="{{ section.settings.product_image | image_url }}" width="206" height="206" loading="lazy">
              </div>
              <div class="product_content">
                <a href="#">
                  <h3>Suzuki Wedged Baseball T-Shirt</h3>
                </a>
                <div class="add_to_card">
                  {%- render 'buy-buttons',
                    block: block,
                    product: product,
                    product_form_id: product_form_id,
                    section_id: section.id
                  -%}
                </div>
              </div>
              <a href="#"></a>
            </div>
          </div>
          <div class="row">
            <div class="product-main_box">
              <div class="product-block">
                <img src="{{ section.settings.product_image | image_url }}" width="206" height="206" loading="lazy">
              </div>
              <div class="product_content">
                <a href="#">
                  <h3>Suzuki Wedged Baseball T-Shirt</h3>
                </a>
                <div class="add_to_card">
                  {%- render 'buy-buttons',
                    block: block,
                    product: product,
                    product_form_id: product_form_id,
                    section_id: section.id
                  -%}
                </div>
              </div>
              <a href="#"></a>
            </div>
            <div class="product-main_box">
              <div class="product-block">
                <img src="{{ section.settings.product_image2 | image_url }}" width="206" height="206" loading="lazy">
              </div>
              <div class="product_content">
                <a href="#">
                  <h3>Suzuki Wedged Baseball T-Shirt</h3>
                </a>
                <div class="add_to_card">
                  {%- render 'buy-buttons',
                    block: block,
                    product: product,
                    product_form_id: product_form_id,
                    section_id: section.id
                  -%}
                </div>
              </div>
              <a href="#"></a>
            </div>
            <div class="product-main_box">
              <div class="product-block">
                <img src="{{ section.settings.product_image3 | image_url }}" width="206" height="206" loading="lazy">
              </div>
              <div class="product_content">
                <a href="#">
                  <h3>Suzuki Wedged Baseball T-Shirt</h3>
                </a>
                <div class="add_to_card">
                  {%- render 'buy-buttons',
                    block: block,
                    product: product,
                    product_form_id: product_form_id,
                    section_id: section.id
                  -%}
                </div>
              </div>
              <a href="#"></a>
            </div>
          </div>
        </div>
        {% comment %}
          <div class="first-level-menu_items logo-item">
            <div class="first-level-shop_list">
              <h3>Shop By Color</h3>
              <ul class="second-level-menu-list">
                <li>
                  <a href="#"
                    ><img src="{{ section.settings.logo_image | image_url }}" width="100" height="38" alt="" loading="lazy"
                  ></a>
                </li>
                <li>
                  <a href="#"
                    ><img src="{{ section.settings.logo_image | image_url }}" width="100" height="38" alt="" loading="lazy"
                  ></a>
                </li>
                <li>
                  <a href="#"
                    ><img src="{{ section.settings.logo_image | image_url }}" width="100" height="38" alt="" loading="lazy"
                  ></a>
                </li>
                <li>
                  <a href="#"
                    ><img src="{{ section.settings.logo_image | image_url }}" width="100" height="38" alt="" loading="lazy"
                  ></a>
                </li>
                <li>
                  <a href="#"
                    ><img src="{{ section.settings.logo_image | image_url }}" width="100" height="38" alt="" loading="lazy"
                  ></a>
                </li>
                <li>
                  <a href="#"
                    ><img src="{{ section.settings.logo_image | image_url }}" width="100" height="38" alt="" loading="lazy"
                  ></a>
                </li>
                <li>
                  <a href="#"
                    ><img src="{{ section.settings.logo_image | image_url }}" width="100" height="38" alt="" loading="lazy"
                  ></a>
                </li>
                <li>
                  <a href="#"
                    ><img src="{{ section.settings.logo_image | image_url }}" width="100" height="38" alt="" loading="lazy"
                  ></a>
                </li>
              </ul>
            </div>
            {% comment %}
              <div class="first-level-shop_image-block">
                <span class="image_level">
                  <img src="{{ section.settings.image_block | image_url }}" width="282" height="266" alt="" loading="lazy">
                </span>
              </div>
            {% endcomment %}
            <div class="first-level-card">
              <div class="main-card_item">
                <span class="image-span">
                  <img
                    src="{{ section.settings.featured_image | image_url }}"
                    width="432"
                    height="266"
                    alt=""
                    loading="lazy"
                  >
                </span>
                <div class="main-card_item_text">
                  <span>New Arrivals</span>
                  <h2>New Nail Lacquers Collection</h2>
                  <a href="#">Shop Now</a>
                </div>
              </div>
            </div>
          </div>
        {% endcomment %}
        <div class="first-level-menu_items">
          <div class="first-level-shop_list">
            <h3>Shop By Color</h3>
            <ul class="second-level-menu-list">
              <li><a href="#">Black</a></li>
              <li><a href="#">White</a></li>
              <li><a href="#">Blue</a></li>
              <li><a href="#">Green</a></li>
              <li><a href="#">Red</a></li>
              <li><a href="#">Black</a></li>
              <li><a href="#">White</a></li>
              <li><a href="#">Blue</a></li>
              <li><a href="#">Green</a></li>
              <li><a href="#">Red</a></li>
            </ul>
          </div>
          <div class="first-level-shop_image-block">
            <span class="image_level">
              <img src="{{ section.settings.featured_image | image_url }}" width="282" height="266" alt="" loading="lazy">
            </span>
          </div>
          <div class="first-level-card">
            <div class="main-card_item">
              <span class="image-span">
                <img
                  src="{{ section.settings.featured_image | image_url }}"
                  width="432"
                  height="266"
                  alt=""
                  loading="lazy"
                >
              </span>
              <div class="main-card_item_text">
                <span>New Arrivals</span>
                <h2>New Nail Lacquers Collection</h2>
                <a href="#">Shop Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endcomment %}
<div class="nav-menu-dropdown page-width">
  <div class="menu-dropdown-content">
    <div class="main-menu-block">
      {% comment %}
        Loop through MAIN blocks to generate the first-level menu
      {% endcomment %}
      {% for block in section.blocks %}
        {% if block.type == 'main' %}
          {% assign menu_handle = block.settings.navigation_title | handleize %}
          {% assign menu = linklists[menu_handle] %}

          {% if menu.links.size > 0 %}
            <ul class="first-level-menu first-level-desktop">
              {% for link in menu.links %}
                {% assign has_sub_children = false %}

                {% for sub_block in section.blocks %}
                  {% if sub_block.settings.inner_navigation_title == link.title and (sub_block.type == 'inner-megamenu' or sub_block.type == 'shop-megamenu') %}
                    {% assign has_sub_children = true %}
                  {% endif %}
                {% endfor %}

                <li
                  class="{% if forloop.first %}active{% endif %} {% if has_sub_children %}has-sub-children{% endif %}"
                  data-tabid="{{ link.title | handleize }}"
                >
                  <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>

            {% comment %}
              Loop again to create second-level content for each link
            {% endcomment %}
            {% for link in menu.links %}
              <div
                class="menu-wrapper {{ link.title | handleize }} {% if forloop.first %}show-menu{% endif %}"
                data-tabid="{{ link.title | handleize }}"
              >
                {% for sub_block in section.blocks %}
                  {% if sub_block.settings.inner_navigation_title == link.title %}
                    {%- case sub_block.type -%}
                      {%- when 'inner-megamenu' -%}
                        <div class="first-level-menu_items logo-item">
                          <div class="first-level-shop_list">
                            <h3>{{ sub_block.settings.color_menu_title }}</h3>
                            {% if sub_block.settings.secondary_menu != blank %}
                              {% assign secondary = linklists[sub_block.settings.secondary_menu] %}
                              <ul class="second-level-menu-list">
                                {% for sublink in secondary.links %}
                                  <li>
                                    <a href="{{ sublink.url }}">{{ sublink.title }}</a>
                                  </li>
                                {% endfor %}
                              </ul>
                            {% endif %}
                          </div>

                          {% if sub_block.settings.image_block_image != blank %}
                            <div class="first-level-shop_image-block">
                              <span class="image_level">
                                <img
                                  src="{{ sub_block.settings.image_block_image | image_url: width: 282 }}"
                                  alt=""
                                  loading="lazy"
                                >
                              </span>
                            </div>
                          {% endif %}

                          <div class="first-level-card">
                            <div class="main-card_item">
                              {% if sub_block.settings.featured_image != blank %}
                                <span class="image-span">
                                  <img
                                    src="{{ sub_block.settings.featured_image | image_url: width: 432 }}"
                                    alt=""
                                    loading="lazy"
                                  >
                                </span>
                              {% endif %}
                              <div class="main-card_item_text">
                                <span>{{ sub_block.settings.featured_top_text }}</span>
                                <h2>{{ sub_block.settings.featured_title }}</h2>
                                <a href="{{ sub_block.settings.featured_cta_link | default: '#' }}">
                                  {{ sub_block.settings.featured_cta_text }}
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>

                      {%- when 'shop-megamenu' -%}
                        <div class="first-level-menu_items">
                          {% if sub_block.settings.menu_type == 'color-menu-with-image-block' %}
                            <div class="first-level-shop_list">
                              <h3>{{ sub_block.settings.color_menu_title }}</h3>
                              {% if sub_block.settings.secondary_menu != blank %}
                                {% assign color_menu = linklists[sub_block.settings.secondary_menu] %}
                                <ul class="second-level-menu-list">
                                  {% for sublink in color_menu.links %}
                                    <li>
                                      <a href="{{ sublink.url }}">{{ sublink.title }}</a>
                                    </li>
                                  {% endfor %}
                                </ul>
                              {% endif %}
                            </div>

                          {% elsif sub_block.settings.menu_type == 'collection-menu-with-image-block' %}
                            <div class="megamenu-collection-wrapper">
                              {% if sub_block.settings.secondary_menu != blank %}
                                {% assign collection_menu = linklists[sub_block.settings.secondary_menu] %}
                                {% for collection_link in collection_menu.links %}
                                  {% assign collection = collection_link.object %}
                                  {% if collection %}
                                    <div class="collection-list">
                                      <a href="{{ collection.url }}">
                                        <span>
                                          {% if collection.image %}
                                            <img
                                              src="{{ collection.image | image_url: width: 180 }}"
                                              alt="{{ collection.title }}"
                                              loading="lazy"
                                            >
                                          {% endif %}
                                        </span>
                                        <p>{{ collection.title }}</p>
                                      </a>
                                    </div>
                                  {% endif %}
                                {% endfor %}
                              {% endif %}
                            </div>

                          {% elsif sub_block.settings.menu_type == 'product-menu' %}
                            <div class="brand-product-wrapper only-product-list">
                              <div class="megamenu-product-list">
                                {% if sub_block.settings.secondary_menu != blank %}
                                  {% assign product_menu = linklists[sub_block.settings.secondary_menu] %}
                                  {% for product_link in product_menu.links %}
                                    {% assign product = product_link.object %}
                                    {% if product %}
                                      <div class="product-card">
                                        {% render 'card-product',
                                          card_product: product,
                                          shopnow_button: 'button',
                                          section_id: section.id
                                        %}
                                      </div>
                                    {% endif %}
                                  {% endfor %}
                                {% endif %}
                              </div>
                            </div>
                          {% endif %}
                        </div>
                    {%- endcase -%}
                  {% endif %}
                {% endfor %}
              </div>
            {% endfor %}
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
